SECRET_KEY=your-secret-key
JWT_SECRET_KEY=your-jwt-secret-key
FLASK_ENV=production
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PHONE=123456789
ADMIN_PASSWORD=your-admin-password

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# DATABASE_URL سيوفره Railway تلقائياً عند ربط PostgreSQL
